<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SistemasInv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SistemasInv.Properties.Settings.cadenaConexion" connectionString="server=192.168.215.40; Database=sistemasvdlp; Uid =Sistemas; pwd =Valle.28; Port = 3306;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SistemasInv.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value>"No autenticado"</value>
            </setting>
            <setting name="ValorInicialActivo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cadena" serializeAs="String">
                <value>""</value>
            </setting>
        </SistemasInv.Properties.Settings>
    </userSettings>
</configuration>